# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Port
PORT=8080

# Frontend URL
FRONTEND_URL="http://localhost:5173"

# Add other non-sensitive defaults here